<br>
<br>
<h2>List of Books Took by Users</h2>
<br>
<br>
<nav class="col-md-3">
    <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="type here for searching......">      
</nav>
<br>
<div class="col-md-3"></div>
<table class="table table-hover">
    <thead>
        <th (click)="sort('name')">Book Id</th>
        <th (click)="sort('name')">Book Name<span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th (click)="sort('name')">Author<span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th (click)="sort('name')">Genre<span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th>Took Date</th>
        <th>Took By</th>
    </thead>
    <tbody>
        <tr *ngFor="let bk of list | orderBy: key : reverse | filter:filter; let BookName = index">
            <td >{{bk.id}}</td>
            <td>{{bk.BookName}}</td>
            <td>{{bk.Author}}</td>
            <td>{{bk.Genre}}</td>
            <td>{{bk.TookDate}}</td>
            <td>{{bk.TookBy}}</td>
        </tr>
    </tbody>
</table>